.container {

    .saveButton {
        border: none;
        color: white;
        padding: 20px;
        margin-top: 10px;
        background-color: #4d6b4e;
        border-radius: 10px;
        width: 100%;
    }

    .saveButton:active {
        background-color: #2eb933;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

    hr {
        width: 95%;
    }

    textarea {
        background-color: #0F3D3E;
        border: 10px;
        border-radius: 10px;
        color: #fff;
        padding: 20px 50px;
        width: 92%;
        height: 350px;
        font-family: monospace;
        outline: none;
        resize: none;
        font-size: 13px;
        margin-top: 5px;
    }


    #textarea::placeholder {
        color: white;
        opacity: 1;
    }

    input[type=text] {
        background-color: #0F3D3E;
        border: 10px;
        border-radius: 10px;
        color: white;
        font-family: monospace;
        padding: 20px 50px;
        width: 92%;
        height: 1px;
        font-size: 13px;
        display: block;
    }
}