nav {
    background-color: #4CAF50;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border-bottom-style: double;
    height: auto;
    margin-right: auto;
    margin-left: auto;


    li {
        list-style-type: none;
        padding: 5px;
    }

}