.container {

    .tab {
        .tab-box {
            background-color: #4CAF50;
            padding: 15px 32px;
            text-align: center;
            display: block;
            width: 40%;
            border-radius: 10px;
            border-bottom-style: double;
            height: auto;
            margin-top: 1%;
            margin-left: auto;
            margin-right: auto;


            button {
                color: white;
                padding: 20px;
                margin-right: 10px;
                background-color: #4d6b4e;
                border-radius: 10px;
                width: 180px;
                box-shadow: 10px 8px 15px rgba(0, 0, 0, 0.1);

            }
        }



    }


}