.container {

    .all-note {

        h1 {
            border-radius: 10px;
            background-color: aliceblue;
            padding: 20px;
        }
    }


    .note {
        background: white;
        padding: 10px;
        align-items: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 2px 2px;
        position: relative;
        transition: box-shadow 0.5s ease, transform 0.5s ease;
        width: 10rem;
        float: left;

        .note-info {
            margin: 1px;
        }

        .note-preview {
            align-items: flex-start;
            display: flex;
            justify-content: space-evenly;
            padding: 1px 0 1px 0;
            width: 100%;
        }

        .note-button {
            padding-right: 10px;
        }



    }



}